<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/listings" method="post">
      <input
        name="listing[title]"
        placeholder="enter the title"
        type="text"
      /><br /><br />
      <textarea
        name="listing[description]"
        placeholder="enter the description"
      ></textarea
      ><br /><br />
      <input
        name="listing[price]"
        placeholder="enter the price"
        type="number"
      /><br /><br />
      <input
        name="listing[location]"
        placeholder="enter the location"
        type="text"
      /><br /><br />
      <input
        name="listing[country]"
        placeholder="enter the country"
        type="text"
      /><br /><br />
      <button>Add</button>
    </form>
  </body>
</html>
